.container{
    /* min-width: 100%; */
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section{
    padding-top: 96px;
    padding-bottom: 96px;
}
 /*   H E A D E R  */

 .logo{
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--background-href-color);
    text-decoration: none;
    text-transform: uppercase;
    }
    
    .logo-part-upper{
    color: var(--title-color) ;
    }

    .page-header-container{
        padding-right: 16px;
    }

    
    .page-nav {
        padding-top: 24px;
        padding-bottom: 24px;
    }

/*   M E N U */
    
.mob-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}
.menu-open{
    width: 32px;
    height: 22px;
    background-color: transparent;
    border: none;
}

.menu-open-icon{
    width: 30px;
    height: 19px;
    stroke: var(--title-color);
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.mob-menu {
    width: 100vw;
    height: 100vh;
    background: #FFFFFF;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    position: fixed;
    top: 0;
    padding-top: 24px;
    padding-bottom: 40px;
 }

.menu-close {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color:var(--footer-text-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: block;
    margin-left: auto;
    margin-right: 24px;
    margin-bottom: 32px;  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-icon {
   fill: #000000;
}


.mob-menu-item{
    margin-left: 40px;
}
.mob-menu-item:not(:last-child) {
    margin-bottom: 40px;
}

.mob-menu-link:hover,
.mob-menu-link:focus{
    color: var(--filter-active-btn-ground);
}

.mob-menu-list{
    margin-bottom: auto;
}
.mob-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-tel{
   display: block;
   margin-bottom: 40px;
   margin-left: 40px;
   font-weight: 600;
   font-size: 24px;
   line-height: 1.11;
   text-transform: capitalize;
   color: var(--background-href-color);
  }

.mob-menu-email {
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--text-color);
    margin-bottom: 48px;
    margin-left: 40px;
}

.mob-soc-list {
    position: relative;
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
}


.mob-soc-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius:50%;
    background-color: var(--background-href-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-soc-icon {
    width: 24px;
    height: 24px;
    fill: var(--secondary-text-color);
  
}



.mob-soc-link:hover,
.mob-soc-link:focus{
 background-color: var(--filter-active-btn-ground);
}






    
/* ====== Hero ======== */
.hero{
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 112px;   
    padding-bottom: 112px;   
    background:var(--title-color);
    text-align: center;
    background-color: var(--title-color);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   }
   
   .hero-title{
    max-width: 496px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color:var(--secondary-text-color);
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    }

    .modul-btn{
        padding: 16px 32px;
        border: none;
        font-family: var(--primary-font);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--secondary-text-color);
        background: var(--background-href-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        
    .modul-btn:hover,
    .modul-btn:focus{
        background-color: var(--filter-active-btn-ground);
         }
        

    /* =========Policy======= */

    .policy-item{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
        display: flex;
        justify-content: center;
    }

    .policy-text{
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 72px;
      
    }

    .policy-icon{
    display: none;
    }

    .policy-item-icon{
        background: none;
    }

    /* ===========Our Team====== */

    .team-list{
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        padding-right: 0;
        row-gap: 72px;
    }

    .team{
        background: var(--filter-btn-ground);
      }

    
   .team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    }
    
    .team-member-card{
        background: var(--secondary-text-color);
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        border-radius: 0px 0px 4px 4px;
        }

    
.team-member-card-descr{
    padding: 32px 16px;
    }
    
    .team-member{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    }
    
    .team-position{
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--text-color);
    margin-bottom: 8px;
    }

    .social-list{
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }
    
    .social-list-item-link{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius:50%;
        background-color: var(--background-href-color);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .social-list-item-icon{
        width: 16px;
        height: 16px;
        fill: var(--secondary-text-color);
    }
    
    .social-list-item-link:hover,
    .social-list-item-link:focus{
     background-color: var(--filter-active-btn-ground);
     
    }
    
    /*   C U S T O M E R S */

    .customers{
        padding-top: 96px;
        padding-bottom: 96px;
       
    }

    .customers-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--title-color);
        margin-bottom: 72px;
        }
        
    .customers-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 16px;
       row-gap: 72px;
       }
    
     .customers-item{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 88px;
        box-sizing: border-box;
        border: 1px solid var(--customer-icons-color);
        border-radius: 4px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    
    .customers-item-icon {
    width: 110px;
    height: 56px;
    fill: var(--customer-icons-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

   
    .customers-item:hover,
    .customers-item:focus{
     border-color: var(--filter-active-btn-ground);
 
    }

    .customers-item:hover .customers-item-icon,
    .customers-item:focus .customers-item-icon{
     fill: var(--filter-active-btn-ground);
    }

    .customers-link{
        width: calc((100% - 16px) / 2); 
        
    }

     /*  F O O T E R */

    .logo-footer{
        padding-left: 80px;
    }
    .footer-content{
        display: flex;
        flex-wrap: wrap;
    }
    
    .logo-part-down{
        line-height: 1.17;
        color: var(--filter-btn-ground);
        }
        
    .subscribe-box{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 16px;
       }
    
       

    .footer{
        background: var(--title-color);
        padding-top: 96px;
        padding-bottom: 96px;
        }
        
    .footer-description{
            margin-left: auto;
           
        }

     
   .footer-title{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--secondary-text-color);
    margin-top: 72px;
    margin-bottom: 16px;
    padding-left: 90px;
    }
   
    .footer-text{
        width: 264px;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--footer-text-color);
        margin-top: 16px;
        }
        
   
    .footer-list{
    display: flex;
    gap: 16px;
    margin-left: 30px; 
    margin-bottom: 72px;
   }
  
   .footer-icon{
    width: 24px;
    height: 24px;
    fill: var(--secondary-text-color);
   }

   .subscribe-title{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    margin-bottom: 16px;
    margin-left: 100px;
   }

   
   .subscribe-email{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--title-color);
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 2.0;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    padding-left: 16px;
    }

    .subscribe-email::placeholder{
        font-size: 12px;
        line-height: 2.0;
        letter-spacing: 0.04em;
        color: rgba(255, 255, 255, 0.6);
    }

    .subscribe-text{
        width: 165px;
        height: 40px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        display: flex;
        align-items: center;
        padding-left: 24px;
        padding-right: 16px;
        color: var(--secondary-text-color);
        background:var(--background-href-color);
        border-radius: 4px;
        border: none;
        position: relative;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        margin-left: auto;
        margin-right: auto;  
    }

       .subscribe-text:hover,
       .subscribe-text:focus{
         background-color: var(--filter-active-btn-ground);
       }
    
       .subscribe-icon{
        fill: var(--secondary-text-color);
        position: absolute;
        right: 24px;;
       }
    
       .footer-link{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius:50%;
        background-color: var(--text-color);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
       }
     
       .footer-link:hover,
       .footer-link:focus{
         background-color: #31D0AA;
        }
        
        .site-nav{
            display: none;
        }
   
        .address{
            display: none;
        }
        .product{
            display: none;
        }

        /* ======= Modal   window==== */


        .backdrop{
            position: fixed;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(46, 47, 66, 0.4);
            transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
            
        }


        .modal{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(1);
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
            max-width: 392px;
            min-height: 586px;
            border-radius: 4px;
            background:var(--modal-background);
            padding: 72px 16px 24px 16px;
         }
        
        .backdrop.is-hidden .modal{
            transform: translate(-50%, -50%) scale(0);
        
        }
        
        .modal-close{
            position: absolute;
            top:24px;
            right: 24px;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            border: none;
            background-color: var(--footer-text-color);
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        
        
.modal-close:hover,
.modal-close:focus{
    background-color: var(--filter-active-btn-ground);
    
}

.modal-close-icon{
    fill: var(--title-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-close:hover .modal-close-icon,
.modal-close:focus .modal-close-icon{
    fill: var(--secondary-text-color);
}

.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-title{
   font-weight: 500;
   line-height: 1.5;
   text-align: center;
   letter-spacing: 0.02em;
   color: var(--title-color);
   margin-bottom: 16px;
}


.modal-list{
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.modal-lable{
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: var(--customer-icons-color);
    margin-bottom: 4px;
}

.input-wrap{
    position: relative;
    margin-bottom: 8px;
}

.modal-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 38px;
    color: var(--customer-icons-color);
    outline: transparent;
    margin-top: 4px;
    transition: border-color, fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.modal-icon{
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-comments{
    width: 100%;
    height: 120px;
    resize: none;
    margin-top: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 16px;
    padding-top: 8px;
    color: var(--customer-icons-color);
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comments::placeholder, .modal-input::placeholder{
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);

}
.modal-input:focus,  .modal-input:hover,
.modal-comments:focus, .modal-comments:hover{
    border-color: var(--background-href-color);
}

.modal-input:focus + .modal-icon,
.modal-input:hover + .modal-icon{
    fill: var(--background-href-color);
}


.modal-accept{
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #757575;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: first baseline;
}

.modal-accept span {
    width: 16px;
    height: 16px;
    border: 1.25px solid var(--title-color);
    border-radius: 2px;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: transparent;
}

.modal-check-box:checked + .modal-accept span {
    background-color: var(--filter-active-btn-ground);
    border: none;
    fill: var(--filter-btn-ground);
   }
   
.policy-link{
      font-size: 12px;
      line-height: 1.33;
      letter-spacing: 0.04em;
      color: var(--background-href-color);
      margin-left: 3px;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

   
.policy-link:hover,
.policy-link:focus{
    color: var(--filter-active-btn-ground);
}


.modal-submit{
    display: block;
    width: 169px;
    height: 56px;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:var(--secondary-text-color);
    background: var(--background-href-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit:hover,
.modal-submit:focus{
    background-color: var(--filter-active-btn-ground);
}





@media screen and (min-width: 480px){
    .container{
        width: 428px;
    }
  
    
    .page-header-container{
        padding-right: 0;
    }


    .page-nav {
        padding-top: 24px;
        padding-bottom: 24px;
    }


       .address{
        display: none;
        flex-direction: column;
        margin-right: 16px;
     }
     
     
.mob-menu-tel{
  
    font-size: 36px;
    }
 
    /* .page-header-container{
        padding-right: 0;
    }
     */
    .policy{
        padding-top: 96px;
    }   
    
    .team{
        padding-bottom: 128px;
    }
    .team-list{
        padding-left: 82px;
        padding-right: 82px;
    }
 
    .customers-list {
       
        margin-left: 0;
     }
    .footer-description{
        margin-left: 65px;
        margin-right: auto;
    }

    .footer-title{
        padding-left: 0;    
        margin-left: 151px;
    }
   
    .footer-list{
        margin-left: 95px; 
    }
     
    .subscribe-title{
     
        margin-left: 161px;
       }

       .subscribe-email{
        min-width: 398px;
       }

       /* M O D A L  */

       
    } 
 
    @media screen and (max-width: 479px){
      .container{
        width: 100%;
      }


      .modal{
        width: 100%;
        height: auto;
        
      }

    }








/* 
    @media screen and (max-width: 479px){
        .container{
            width: 479px;
        }
    
        .modal{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(1);
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
            width: 100%;
            height: auto;
            border-radius: 4px;
            background:var(--modal-background);
            padding: 72px 16px 24px 16px;
         }
         */

   