
:root{
--primary-font: 'Roboto', sans-serif;
--secondary-font: 'Raleway', sans-serif;
--title-color: #2E2F42;
--text-color: #434455;
--secondary-text-color: #FFFFFF;
--background-href-color: #4D5AE5;
--footer-text-color: #E7E9FC;
--filter-active-btn-ground:#404BBF;
--filter-btn-ground:#F4F4FD;
}

body{
  font-family: 'Roboto', sans-serif; 
  font-weight: 400;
  font-style: normal;
  color: var(--title-color)
}

.list {
    list-style: none;
}
.link{
    text-decoration: none;
}
h1,
h2,
h3,
h4,
p{
    margin-top: 0;
    margin-bottom: 0;
}
ul, 
ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img{
    display: block;
}
button{
    cursor: pointer;
}
.container{
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
   }

.section{
    padding-top:120px;
    padding-bottom: 120px;
}
/* .title{
    margin-bottom: 72px;
} */
/* ======== Components ========== */

/* ======== / Components ======== */

/*========= Headerr ========*/

.page-header{
    border-bottom: 1px solid #E7E9FC;
}
.logo{
font-family: var(--secondary-font);
font-weight: 800;
font-size: 18px;
line-height: 1.5;
letter-spacing: 0.03em;
color: var(--background-href-color);

text-decoration: none;
text-transform: uppercase;
margin-right: 76px;
}

.logo-part-upper{
color: var(--title-color) ;
}

/* site-nav */


.menu-item:not(:last-child){
    margin-right: 40px;
}


    
.menu-link{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--title-color); 
}



.contact-email,
.contact-phone-number{
font-style: normal;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--text-color);
}

.menu-link:hover,
.menu-link:focus{
  color: var(--background-href-color);  
}

.menu-link:active{
color: var(--background-href-color);
}

.contact-email:hover,
.contact-email:focus{
    color: var(--background-href-color);
}
.contact-phone-number:hover,
.contact-phone-number:focus{
    color: var(--background-href-color);
}

.page-header-container{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-top: 24px;
   padding-bottom: 24px;
}
.page-nav{
    display: flex;
   align-items: center;
}
.site-nav{
    display: flex;
}
.menu{
    display: flex;
    align-items: center;
}
.address{
    display: flex;
    align-items: center;
   }

.contact-email{
    margin-right: 40px;
   
}
/* =============== / Heder========== */
/* =============== h e r o  =======*/

.hero{
 padding-top: 188px;   
 padding-bottom: 188px;   
 background:var(--title-color);
 text-align: center;
}
.hero-title{
width: 496px;
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
color:var(--secondary-text-color);
margin-bottom: 48px;
margin-left: auto;
margin-right: auto;
}


.modul-btn{
padding: 16px 32px;
/* display: block;  
margin-left: auto;
margin-right: auto; */

border: none;
font-family: var(--primary-font);
font-weight: 500;
font-size: 16px;
line-height: 1.5;
   
color: var(--secondary-text-color);
background: var(--background-href-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}


/* =========== /hero ========== */
/* =========== Policy ========= */
.policy-list{
    display: flex;
   gap: 24px;
}
.policy{
    padding-top: 120px;
}

.policy-item{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    padding-bottom: 8px;
  }
.policy-text{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
/* =========== /Policy ======== */

/* =========== Products ======= */
.product-list{
    display: flex;
    gap: 24px;
}
.product-title{
font-weight: 700;
font-size: 36px;
line-height: 1.1;

text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
margin-bottom: 72px;
}
/* =========== /Products ======= */

/* =========== Our Team ======== */
.team-list{
    display: flex;
   gap: 24px;
}
.team{
  background: var(--filter-btn-ground);
}
.team-title{
font-weight: 700;
font-size: 36px;
line-height: 1.1;

text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
margin-bottom: 72px;
}

.team-member-card{
background: var(--secondary-text-color);
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;
}

.team-member-card-descr{
padding: 32px 16px;
}
.team-member{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.02em;
margin-bottom: 8px;
}

.team-position{
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: var(--text-color);
}

/* =========== /Our Team ======== */

/* ============ Footer ========== */
.footer{
background: var(--title-color);
padding-top: 100px;
padding-bottom: 100px;
}

.footer-descr{

}
.logo-part-down{
line-height: 1.17;
color: var(--filter-btn-ground);
}

.footer-text{
width: 264px;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--footer-text-color);
margin-top: 16px;
}
/* ============ /Footer ========== */


/* ========= Filter ====== */


.filter-item-main:hover,
.filter-item-main:active{
    color: var(--secondary-text-color);
    background-color:var(--filter-active-btn-ground);
}

.filter-item-main{
font-family: var(--primary-font);
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
line-height: 1.5;
color: var(--background-href-color);
border: 1px solid #E7E9FC;
border-radius: 4px;
border: none;
cursor: pointer;
}


.filter-item-add:hover,
.filter-item-add:active{
color: var(--secondary-text-color);
background-color:var(--filter-active-btn-ground);
}

.filter-item-add{
font-family: var(--primary-font);
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
color: var(--background-href-color);
background:var(--filter-btn-ground);
border: 1px solid #E7E9FC;
border-radius: 4px;
cursor: pointer;

}



.filter-list{
display: flex;
gap: 24px;
align-items: center;
justify-content: center;
padding-top: 96px;
}
.filter-list:not(:last-child){
    /* margin-right: 24 px; */
}

/* ========= /Filter ===== */

/* ========= Portfolio==== */

.portfolio{

}

.portfolio-list{
padding-top: 72px;
padding-bottom: 120px; 
display: flex;
flex-wrap: wrap;
column-gap: 24px;
row-gap: 48px;
/* justify-content: space-between; */
}

/* .portfolio-item:not(:nth-child(3n)){
 margin-right: 24px;
}

.portfolio-item:not(:nth-last-child(-n+3)){
 margin-bottom: 48px;
 } */


.portfolio-item-name{
font-weight: 500;
font-size: 20px;
line-height: 1.5;
letter-spacing: 0.02em;
}
.portfolio-item-descr{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--text-color);
}

.portfolio-card{
background: linear-gradient(0deg, rgba(77, 90, 229, 0.1), rgba(77, 90, 229, 0.1)), url(6418424.jpg);
background-blend-mode: soft-light, normal;
}
.portfolio-item{
box-sizing: border-box;

background: var(--secondary-text-color);
border: 1px solid #E7E9FC;
}

.portfolio-item-card-descr{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
/* padding: 0px 16px; */
gap: 8px;
padding-top: 32px;
padding-right: auto;
padding-bottom: 32px;
padding-left: 16px;
}
/* 
.team-member-card-descr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;
    
    width: 232px;
    height: 56px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 32px 16px;
} */
/* ========= /Portfolio ==== */