
:root{
--primary-font: 'Roboto', sans-serif;
--secondary-font: 'Raleway', sans-serif;
--title-color: #2E2F42;
--text-color: #434455;
--secondary-text-color: #FFFFFF;
--background-href-color: #4D5AE5;
--footer-text-color: #E7E9FC;
--filter-active-btn-ground:#404BBF;
--filter-btn-ground:#F4F4FD;
--customer-icons-color: #8E8F99;
}

body{
  font-family: 'Roboto', sans-serif; 
  color: var(--title-color);
  background-color: var(--secondary-text-color);
}

.list {
    list-style: none;
}
.link{
    text-decoration: none;
}
h1,
h2,
h3,
h4,
p{
    margin-top: 0;
    margin-bottom: 0;
}
ul, 
ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img{
    display: block;
}
button{
    cursor: pointer;
}
.container{
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section{
    padding-top:120px;
    padding-bottom: 120px;
}
/* .title{
    margin-bottom: 72px;
} */
/* ======== Components ========== */

/* ======== / Components ======== */

/*========= Headerr ========*/

.page-header{
    border-bottom: 1px solid var(--footer-text-color);
}
.logo{
font-family: var(--secondary-font);
font-weight: 800;
font-size: 18px;
line-height: 1.5;
letter-spacing: 0.03em;
color: var(--background-href-color);

text-decoration: none;
text-transform: uppercase;
margin-right: 76px;
}

.logo-part-upper{
color: var(--title-color) ;
}

/* site-nav */


.menu-item:not(:last-child){
    margin-right: 40px;
}


    
.menu-link{
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--title-color); 
}



.contact-email,
.contact-phone-number{
font-style: normal;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--text-color);
}

.menu-link:hover,
.menu-link:focus{
  color: var(--background-href-color);  
}

.menu-link:active{
color: var(--background-href-color);
}

.contact-email:hover,
.contact-email:focus{
    color: var(--background-href-color);
}
.contact-phone-number:hover,
.contact-phone-number:focus{
    color: var(--filter-active-btn-ground);
}

.page-header-container{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-top: 24px;
   padding-bottom: 24px;
}
.page-nav{
    display: flex;
   align-items: center;
}
.site-nav{
    display: flex;
}
.menu{
    display: flex;
    align-items: center;
}
.address{
    display: flex;
    align-items: center;
   }

.contact-email{
    margin-right: 40px;
   
}
/* =============== / Heder========== */
/* =============== h e r o  =======*/

.hero{
 max-width: 1440px;
 margin: 0 auto;
 padding-top: 188px;   
 padding-bottom: 188px;   
 background:var(--title-color);
 text-align: center;
 background-color: var(--title-color);
 background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-image.jpg);
background-repeat: no-repeat;
background-size: cover;
}

.hero-title{
width: 496px;
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
color:var(--secondary-text-color);
margin-bottom: 48px;
margin-left: auto;
margin-right: auto;
}


.modul-btn{
padding: 16px 32px;
border: none;
font-family: var(--primary-font);
font-weight: 500;
font-size: 16px;
line-height: 1.5;
   
color: var(--secondary-text-color);
background: var(--background-href-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}

.modul-btn:hover,
.modul-btn:focus{
 background-color: var(--filter-active-btn-ground);
}

/* =========== /hero ========== */
/* =========== Policy ========= */

.policy-item-icon{
    width: 264px;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--filter-btn-ground);
    border-radius: 4px;
   
}

.policy-list{
    display: flex;
   gap: 24px;
}
.policy{
    padding-top: 120px;
}

.policy-item{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-top: 8px;
    margin-bottom: 8px;
  }
.policy-text{
line-height: 1.5;
letter-spacing: 0.02em;
}
/* =========== /Policy ======== */

/* =========== Products ======= */
.product-list{
    display: flex;
    gap: 24px;
}
.product-title{
font-weight: 700;
font-size: 36px;
line-height: 1.1;

text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
margin-bottom: 72px;
}
/* =========== /Products ======= */

/* =========== Our Team ======== */
.team-list{
    display: flex;
   gap: 24px;
}
.team{
  background: var(--filter-btn-ground);
}
.team-title{
font-weight: 700;
font-size: 36px;
line-height: 1.1;

text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
margin-bottom: 72px;
}

.team-member-card{
background: var(--secondary-text-color);
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;
}

.team-member-card-descr{
padding: 32px 16px;
}
.team-member{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.02em;
margin-bottom: 8px;
}

.team-position{
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: var(--text-color);
margin-bottom: 8px;
}

.social-list{
    display: flex;
    justify-content: space-between;
    width: 232px;
    margin: 0 auto;
}

.social-list-item-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius:50%;
    background-color: var(--background-href-color);
  }

.social-list-item-icon{
    width: 16px;
    height: 16px;
    fill: var(--secondary-text-color);
}

.social-list-item-link:hover,
.social-list-item-link:focus{
 background-color: var(--filter-active-btn-ground);
}


/* =========== /Our Team ======== */

/* =========== Customers ======== */


.customers{
    padding-top: 130px;
    padding-bottom: 120px;
}


.customers-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--title-color);
margin-bottom: 72px;
}
.customers-list {
    display: flex;
    column-gap: 24px;
 }

.customers-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 88px;
    box-sizing: border-box;
    border: 1px solid var(--customer-icons-color);
    border-radius: 4px;
}

.customers-item-icon {
    width: 104px;
    height: 56px;
    fill: var(--customer-icons-color);
}

.customers-item:hover,
.customers-item:focus{
    border-color: var(--filter-active-btn-ground);
}

.customers-item:hover .customers-item-icon,
.customers-item:focus .customers-item-icon{
  
    fill: var(--filter-active-btn-ground);
}
/* ===========/Customers========= */



/* ============ Footer ========== */
.footer{
background: var(--title-color);
padding-top: 100px;
padding-bottom: 100px;
}

.footer-content{
    display: flex;
}
.footer-description{
    margin-right: 120px;
}

.logo-part-down{
line-height: 1.17;
color: var(--filter-btn-ground);
}

.footer-text{
width: 264px;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--footer-text-color);
margin-top: 16px;
}

.footer-list{
display: flex;
gap: 16px;
margin: 0 auto;  
 }

 .footer-link{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 40px;
   height: 40px;
   border-radius:50%;
   background-color: var(--text-color);
  }

  .footer-link:hover,
  .footer-link:focus{
    background-color: #31D0AA;
  }

  .footer-link:hover .footer-icon,
  .footer-link:focus .footer-icon{
    
  }

  .footer-title{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--secondary-text-color);
    margin-bottom: 16px;
    }

.footer-icon{
    width: 24px;
    height: 24px;
    fill: var(--secondary-text-color);
   }

/* ============ /Footer ========== */


/* ========= Filter ====== */

.filter-list{
    display: flex;
    gap: 24px;
    justify-content: center; 
}

.filter-item-btn:hover,
.filter-item-btn:focus{
color: var(--secondary-text-color);
background-color:var(--filter-active-btn-ground);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.filter-item-btn{
font-family: var(--primary-font);
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
color: var(--background-href-color);
background:var(--filter-btn-ground);
border-radius: 4px;
border: none;
cursor: pointer;
padding-top: 12px;
padding-right: 24px;
padding-bottom: 12px;
padding-left: 24px;
}

.filter-list{
display: flex;
gap: 24px;
justify-content: center;
}


/* ========= /Filter ===== */

/* ========= Portfolio==== */

.portfolio{
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-list{
padding-top: 72px;
display: flex;
flex-wrap: wrap;
column-gap: 24px;
row-gap: 48px;

}


.portfolio-item-name{
font-weight: 500;
font-size: 20px;
line-height: 1.5;
letter-spacing: 0.02em;
margin-bottom: 8px;
}
.portfolio-item-description{
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--text-color);
}


.portfolio-item{
background: var(--secondary-text-color);

}

.portfolio-item:hover,
.portfolio-item:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .portfolio-top-text{
transform: translateY(0);
}

.portfolio-top-wrap{
position: relative;
overflow: hidden;
}

.portfolio-top-text{
position: absolute;
top: 0;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--filter-btn-ground);
background-color: var(--background-href-color);
background-blend-mode: soft-light;
mix-blend-mode: normal;
padding-top: 40px;
padding-left: 32px;
padding-right: 32px;
height: 100%;
transform: translateY(100%);
transition: transform 500ms;
overflow: auto;
}

.portfolio-card-description{
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    background: var(--secondary-text-color);
    border: 1px solid var(--footer-text-color);
    border-top: none;
}
/* ========= /Portfolio ==== */

.backdrop{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    transition: opacity 500ms linear, visibility 500ms linear;
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 500ms linear;
    width: 408px;
    min-height: 576px;
    border-radius: 4px;
    background: #FCFCFC
}

.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scale(0);

}
.modal-close{
    position: absolute;
    top:24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: none;
    background-color: var(--footer-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-close:hover,
.modal-close:focus{
    background-color: var(--filter-active-btn-ground);
}

.modal-close-icon{
    fill: var(--title-color);
}


.modal-close:hover .modal-close-icon,
.modal-close:focus .modal-close-icon{
    fill: var(--secondary-text-color);
}

.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}