/*  H E A D E R */
    
.page-header{
    border-bottom: 1px solid var(--footer-text-color);
 }
 

 .menu-item:not(:last-child){
    margin-right: 40px;
   }

.menu-item{
    padding-top: 24px;
    padding-bottom: 22px;

}
.menu-link.menu-active{
  position: relative;
  color: var(--filter-active-btn-ground)
}

.menu-active::after{
    content: "";
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 4px;
    background-color: var(--filter-active-btn-ground);
    position: absolute;
    bottom: -26px;
}    

.menu-link{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}

.menu-link:hover,
.menu-link:focus{
  color: var(--filter-active-btn-ground);
  
}

.menu-link:active{
color: var(--filter-active-btn-ground);
}
   





/* .address{
    display: flex;
   flex-direction: column;
   margin-right: 16px;
} */



.contact-email,
.contact-phone-number{
display: flex;
font-style: normal;
font-size: 12px;
line-height: 1.33;
letter-spacing: 0.04em;
color: var(--text-color);
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.contact-email:hover,
.contact-email:focus{
    color: var(--filter-active-btn-ground);
}

.contact-phone-number:hover,
.contact-phone-number:focus{
    color: var(--filter-active-btn-ground);
}

.page-header-container{
   display: flex;
   align-items: center;
   justify-content: space-between;
 }

.page-nav{
   display: flex;
   align-items: center;
 
}


.menu{
    display: flex;
    align-items: center;
}


.contact-email{
    margin-bottom: 4px;
}

.contact-phone-number{
    margin-right: 40px;
}

/* policy */

.policy-list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}



/* F O O T E R */

       .footer-description{
        margin-right: 24px;
     }

   


@media screen and (min-width: 768px){
    .container{
        width: 768px;
    }

    /*  H E A D E R */

    .logo{
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        margin-left: 0;
        margin-right: 120px;
        }

        .address{
           display: flex;
           flex-direction: column;
           margin-right: 0;
        }
        
        .menu-open{
            display: none;
        }
        .site-nav{
            display: flex;
        }
        
        
.page-nav{
    padding-top: 0;
    padding-bottom: 0;
 }
 
       .page-header-container{
        margin-right: 36px;
       }
        .mob-container{
            display: none;
        }



       
        
    /*  H E R O */
    .hero{
        padding-top: 112px;   
        padding-bottom: 108px;   
        }
       
    .hero-title{
         font-size: 56px;
         line-height: 1.07;
        }

        /*  P O L I C Y */

    .policy-item{
       
        margin-bottom: 8px;
        justify-content: flex-start;
        
    }

    .policy-text{
       
        max-width: 356px;
        margin-right: 0;
        margin-left: 0;
    }

    .policy-text:last-child{
        margin-bottom: 96px;
    }

    /*  P R O D U C T  */


    /*  O U R   T E A M  */

    .team-list{
        padding-left: 93px;
        padding-right: 93px;
        column-gap: 24px;
        row-gap: 64px;
    }

    .section{
        padding-bottom: 0;
    }

    .team{
        padding-bottom: 104px;
    }

    /* C U S T O M E R S */

    .customers{
        padding-left: 0px;
        padding-right: 0px;
    }

    .customers-list {
        margin-left: 93px;
        column-gap: 24px;
    }
    
     .customers-title {
       margin-left: auto;
       margin-right: auto;
     }
     
    .customers-item{
        width: 168px;
        height: 88px;
    }

    /*  F O O T E R */

   .logo{
    padding-left: 0;
   }

    .footer-description{
        margin-left: 93px;
        margin-right: 24px;
        margin-bottom: 72px;
    }

     .footer-list{
        margin-left: 0;
     }

     .footer-title{
        margin-left: 0;
        margin-top: 0;
     }

     .footer-subscribe{
        margin-left: 93px;
    }
    
    .subscribe-title{
        margin-left: 0;
    }

    .subscribe-email{

        min-width: 264px;
        height: 40px;
        padding-right: 24px;
    }

    .subscribe-box {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }


}


