/* policy */

.policy-list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

@media screen and (min-width: 768px){
    .container{
        width: 768px;
    }

    /*  H E R O */
    .hero{
        padding-top: 112px;   
        padding-bottom: 108px;   
        }
       
    .hero-title{
         font-size: 56px;
         line-height: 1.07;
        }

        /*  P O L I C Y */

    .policy-item{
       
        margin-bottom: 8px;
        justify-content: flex-start;
        
    }

    .policy-text{
       
        max-width: 356px;
        margin-right: 0;
        margin-left: 0;
    }

    /*  O U R   T E A M  */

    .team-list{
        padding-bottom: 104px;
        padding-left: 93px;
        padding-right: 93px;
        column-gap: 24px;
        row-gap: 64px;
    }

    .section{
        padding-bottom: 0;
    }

    /* C U S T O M E R S */

    .customers{
        padding-left: 0px;
        padding-right: 0px;
    }

    .customers-list {
        margin-left: 100px;
        column-gap: 24px;
    }
    
     .customers-title {
       margin-left: auto;
       margin-right: auto;
     }
    .customers-item{
        width: 168px;
        height: 88px;
    }
}

